/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 400px; /* Ensure there's height for the card */
}

.backface-hidden {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.rotate-y-0 {
  transform: rotateY(0deg);
}
