.calendar-col {
    border-color: var(--surface-border);

    .str-date{
        color: var(--text-color-secondary);
    }

    .day-col{
        background-color: var(--primary-contrast-color);

        .calendar-divider {
            background-color: var(--surface-border);
        }

        .now-divider{
            background-color: var(--text-color);
            border: 1px solid var(--primary-contrast-color);
        }
    }

    
}
