<div class="flex flex-col items-center w-full overflow-x-auto mt-6 ">
    <div class="flex flex-col w-[1440px]">
        <div class="flex w-[1440px]  drop-shadow-2xl">
            <div class="w-[50px]"></div>
            @for (date of weekDates; track $index) {
                <div class="day-divider flex-1 flex flex-col items-center calendar-header border-x-[1px] py-5">
                    <p class="text-2xl text-center">{{ date | date: 'EEE' }}</p>
                    <p class="str-date text-md text-center">{{ date | date: 'MMM d' }}</p>
                </div>
            }
        </div>
        <div class="calendar-wrapper flex overflow-y-auto">
            <div class="calendar-view w-full flex flex-row items-end justify-center" [style.height]="calendarConfig.calendarColHeight + 'px'">
                <div class="w-[50px] py-[0.625rem] mb-[2px] flex flex-col gap-0 justify-evenly overflow-hidden relative items-center" [style.height]="calendarConfig.calendarColHeight - 2 * calendarConfig.calendarLineHeight + 'px'">
                    @for (time of timeLabels; track $index) {
                        <p class="text-sm m-0 text-right w-full">{{ time }}</p>
                    }
                </div>

                <div class="flex w-[1390px]">
                    @if (weekDates.length > 0) {
                        @for (date of weekDates; track $index) {
                            <app-calendar-col [date]="date" [calendarConfig]="calendarConfig" [sessionData]="sessionData[$index]" class="flex flex-1" />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
